---
layout: layout.liquid
title: 11ty Boilerplate
---

<div x-data="{wartortleText: $fetchjson('https://pokeapi.co/api/v2/pokemon/wartortle', pokeName='base_experience')}"> 
    <h1 class="text-8xl drop-shadow-lg" x-text='wartortleText'> </h1>
</div>

<div x-data="{wartortleWeight: $fetchjson('https://pokeapi.co/api/v2/pokemon/wartortle', pokeWeight='weight')}"> 
    <h1 class="text-8xl drop-shadow-lg" x-text='wartortleWeight'> </h1>
</div>